@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}

$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
$primary-color: #4155b2;
$txtColor: #1d2129;
$bdColor: #cccccc;
$bdColorFocus: #a8a8a8;
$bgMain: white;
$bgBody: #f4f4f4;
$bgMain2: rgb(226, 226, 226);
$bgMain3: #DADADA;
$bgHover: rgba(80, 121, 178, 0.7);
$bgHover2: rgba(226, 226, 226, 0.7);
$eColor: #2fbcd0;
$bdRadius: 2px;

body {
  font-family: $font;
  color: $txtColor;
  min-width: 768px;
  min-height: 600px;
  background-color: $bgBody;
}

input, textarea, select, button {
  font-family: $font;
  font-size: 14px;
  text-shadow: none;
  outline: none;
  color: $txtColor;
}
a {
  text-decoration: none;
  color: $txtColor;
}
a:hover {
  text-decoration: none;
  color: $eColor;
}
a:active {
  color: $primary-color;
}

.container, .center {
  display: flex;
}
.container {
  flex-direction: column;
  align-items: center;
  padding: 0 3px;
}
.center {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

#header {
  background: $primary-color;
  height: 42px;
  box-shadow: 0 2px 2px 0 $bdColorFocus;
}
.header-left {
  display: flex;
  width: 45%;
  margin-right: 5%;
  flex-direction: row;
  align-items: center;
}
.logo, .logo a {
  display: flex;
}

.logo a img {
  height: 30px;
  background: white;
  border-radius: $bdRadius;
}
.search-ct {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.search {
  display: flex;
  min-width: 300px;
  width: 100%;
  height: 26px;
  background: $bgMain;
  border-radius: $bdRadius;
  border: 1px solid $bdColor;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid $bdColorFocus;
}
.search input {
  border: none;
  padding: 0 5px;
  display: flex;
  height: 90%;
  width: calc(100% - 50px);
  line-height: 22px;
}
.btn-search {
  display: flex;
  width: 45px;
  height: 100%;
  padding: 0 16px;
  border-radius: 0 $bdRadius $bdRadius 0;
  border: none;
  background-color: #f6f7f9;
  text-align: center;
  color: $txtColor;
}
.btn-search:hover {
  background-color: #dadbdd;
}
.btn-search:active {
  background-color: #f3f3f3;
}
.btn-search i {
  font-size: 14px;
  color: $bdColor;
}
.btn-search:hover i {
  font-size: 14px;
  color: $bdColorFocus;
}
.account {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: flex-end;
}
.account li {
  margin: 0 5px;
  padding: 2px 5px;
  display: flex;
  border-radius: $bdRadius;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: $txtColor;
  flex-wrap: nowrap;

  .header-popup {
    display: none;
  }
}
.account li:hover {
  margin: 0 5px;
  background-color: $bgHover;

  .header-popup {
    display: block;
  }
}
.account li:hover a, .account li:hover i {
  text-decoration: none;
  color: $bgMain
}
.account li.active a, .account li.active i {
  text-decoration: none;
  color: $bgMain
}

.account-info {

  .avatar {
    display: flex;
    height: 30px;
    border-radius: 50%;
  }
  .name {
    display: flex;
    margin: 5px;
  }
}
.header-popup i {
  position: absolute;
  top: -13px;
  right: 45px;
  font-size: 21px !important;
  color: $bgMain2 !important;
}

.account-friends {
  i {
    font-size: 20px;
  }

  .header-popup i {
    right: 128px;
  }
}
.account-message {
  i {
    font-size: 21px;
  }

  .header-popup i {
    right: 85px;
  }
}
.account-cart {
  i {
    font-size: 18px;
  }

  .header-popup i {
    right: 45px;
  }
}

.account-more {
  i {
    font-size: 22px;
  }

  padding-bottom: 10px !important;

  .header-popup i {
    right: 10px;
  }
}

.header-popup {
  position: absolute;
  right: 0;
  display: block;
  top: 50px;
  z-index: 1000;
  background-color: $bgMain2;
  border-radius: $bdRadius;
}
.act {
  border-radius: $bdRadius;
  margin-top: 9px;
  padding: 10px 0 20px 0;
}
.act li {
  justify-content: flex-start;
  margin: 1px 0 !important;
  padding: 8px 30px 8px 20px;
  display: block;
  border-radius: 2px;
  overflow: hidden;
  align-items: center;
  color: #1d2129;
  flex-wrap: nowrap;
  border-bottom: 1px solid $bdColor;
}
.account .act li a {
  color: $txtColor;
}
.account .act li:hover, .act li:hover {
  background: $bgMain3;
  margin: 1px 0 !important;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.directory {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  justify-content: flex-start;
}
.direct {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.direct li {
  padding: 2px 0;
  display: flex;
  border-radius: $bdRadius;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: $txtColor;
  flex-wrap: nowrap;
}
.direct li i {
  width: 22px;
  text-align: center;
}
.direct li i.e-fun {
  text-align: left;
}
.direct li i.fa-caret-right {
  display: block !important;
}
.direct li i.fa-caret-down {
  display: none !important;
}
.direct li:hover {
  background-color: $bgHover2;
}
.direct li:hover i.fa-caret-right {
  display: none !important;
}
.direct li:hover i.fa-caret-down {
  display: block !important;
}
.direct li:hover a, .direct li:hover i {
  text-decoration: none;
  color: $txtColor
}
.direct li div.direct-poup {
  visibility: hidden;
  opacity:0;
  transition-property:opacity;
  transition-duration: 0.2s;
}
.direct li:hover div.direct-poup {
  visibility:visible;

  opacity:1;
  transition-property:opacity;
  transition-duration: 0.8s;
}
.direct li div.show {
  visibility:visible;

  opacity:1;
}
.direct li.active a, .direct li.active i {
  text-decoration: none;
  color: $bgMain
}
.direct-poup {
  position: absolute;
  top: 24px;
  left: 0;
  display: block;
  z-index: 1000;
}
.dct {
  background-color: $bgMain2;
  border-radius: $bdRadius;
  margin-top: 9px;
  padding: 10px 0 5px 0;
}
.dct li {
  margin: 1px 0;
  padding: 8px 20px;
  display: block;
  border-radius: 2px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: #1d2129;
  flex-wrap: nowrap;
  border-bottom: 1px solid $bdColor;
}
.dct li:last-child {
  border-bottom: none;
}
.dct li:hover {
  background: $bgMain3;
}
.direct-poup i.fa-caret-up {
  position: absolute;
  top: -4px;
  left: 15px;
  font-size: 21px;
  color: $bgMain2 !important;
}
.d-func {

  .direct-poup i.fa-caret-up {
    left: 15px;
  }
}
.d-cate {

  .direct-poup i.fa-caret-up {
    left: 113px;
  }
}
.d-product {

}
.stories {
  flex-flow: row wrap;
  justify-content: unset;
  width: calc(100% + 20px);
  max-width: 1220px;
}
.store {
  margin: 0 10px 20px 10px;
  display: flex;
  width: calc(20% - 22px);
  height: 200px;
  border-radius: $bdRadius;
  border: 1px solid $bdColorFocus;
  box-shadow: 0 2px 2px 0 $bdColorFocus;
  background-color: $bgMain;
}
@media only screen and (max-width: 1024px) {
  .store {
    width: calc(25% - 22px);
  }
}