*.idea
.DS_Store
node_modules
package-lock.json

logs/
cache/
data/
stats

public/captcha/*
!public/captcha/index.html

public/phones/*
!public/phones/index.html

public/uploads/Config/*
!public/uploads/Config/index.html

public/uploads/Content/*
!public/uploads/Content/index.html

public/uploads/Slide/*
!public/uploads/Slide/index.html

*/config/category.php
*/config/mapping.php
